DEV_MODE=true
# Used in DEV only
HOST_PORT=8080
DYNAMODB_ENDPOINT=http://dynamodb:8000
SQS_ENDPOINT=http://elasticmq:9324
# Used in all envs
EXTENSION_ID=your-extension_id
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret
GITHUB_CLIENT_ID=your-github-client-id
GITHUB_CLIENT_SECRET=your-github-client-secret
JWT_SECRET=your-jwt-secret
# Automatically set in prod by AWS CloudFormation stack
REDIS_ENDPOINT=redis:6379